@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../variabler';

.limit {
    position: relative;
    padding: 0 1rem 0;
}

@media (min-width: @screen-md) {
    .limit {
        width: @desktopLimitWidth;
        margin: 0 auto;
        padding: 0;
    }
}
