@import '../../node_modules/nav-frontend-core/less/_variabler';

.feilmelding-container {
    padding: 0;
    margin: -1rem;

    .alertstripe__tekst {
        margin-right: 2.2rem;
    }
}

#app-root > .feilmelding-container {
    width: 23rem;
    margin: 5rem auto;
}