@import '../../node_modules/nav-frontend-core/less/_variabler';
@import '../variabler';

.feilmelding-container {
    margin: 2rem 1rem;
}

@media (min-width: @screen-sm) {
    .feilmelding-container {
        margin: 3rem 10%;
    }
}

@media (min-width: @screen-md) {
    .feilmelding-container {
        margin: 4rem 25%;
    }
}