@import '../../node_modules/nav-frontend-core/less/_variabler';

.brodsmuler {
    margin-bottom: 1.5rem;
    display: flex;
    line-height: 2rem;

    .brodsmuler__ikon {
        display: none;
    }
    .brodsmuler__smuler {
        .brodsmule__skille {
            padding: 0 .5rem;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .brodsmuler {
        margin-bottom: 3.5rem;
        .brodsmuler__ikon {
            display: inline-block;
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
}