.brodsmuler {
    margin-bottom: 1rem;
    display: flex;
    line-height: 2rem;

    .brodsmuler__ikon {
        display: none;
    }
    .brodsmuler__smuler {
        .brodsmule__skille {
            padding: 0 .5rem;
        }
    }
}

@media (min-width: 768px) {
    .brodsmuler {
        margin-bottom: 2rem;
        .brodsmuler__ikon {
            display: inline-block;
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
}