@import '../../node_modules/nav-frontend-core/less/_variabler';
@import '../farger';

.ingress {
    margin-bottom: 3rem;

    .nav-veilederpanel--kompakt.nav-veilederpanel--plakat {
        margin-top: 5rem;
    }
    .nav-veilederpanel {
        border: 4px solid @foBlaBackground;
    }
    .nav-veileder {
        img {
            height: 100%;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .ingress {
        .nav-veilederpanel .nav-veileder {
            & + div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
