@import '../../node_modules/nav-frontend-core/less/_variabler';

.ingresss.blokk-l {
    .skjemaelement {
        margin-bottom: 3rem;

        .skjemaelement__label {
            margin-bottom: 1.5rem;
        }
        .selectContainer select {
            padding: 1.2rem 1.6rem 1.2rem 1rem;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .ingresss.blokk-l {
        width: 600px;
        margin: 0 auto 3rem;

        .skjemaelement {
            padding: 0;

            .skjemaelement__label {
            }
            .selectContainer select {
                padding: 1rem 1.5em 1rem 1rem;
            }
        }
    }
}
