@import '../../node_modules/nav-frontend-core/less/_variabler';
@import '../farger';

.ingress {
    margin-bottom: 3rem;
    .skjemaelement {
        .skjemaelement__label {
            margin-bottom: 1.5rem;
        }
        .selectContainer select {
            padding: 1.2rem 1.6rem 1.2rem 1rem;
        }
    }
    .nav-veilederpanel {
        border-color: @foBlaBackground;
        background-color: @navLysGra;
    }
}

@media (min-width: @screen-sm-min) {
    .ingress {
        .nav-veilederpanel .nav-veileder + div {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .skjemaelement {
            .selectContainer select {
                padding: 1rem 1.5em 1rem 1rem;
            }
        }
    }
}
