@import '../../node_modules/nav-frontend-core/less/_variabler';

.kontakte-nav-container {
    padding: 5.5rem 0;

    .kontakte-nav {
        &.panel {
            padding: 2.5rem 1.5rem;
        }

        .kontakte-nav__bilde {
            text-align: center;

            img {
                width: 120px;
                height: 120px;
                padding-bottom: 1.5rem;
            }
        }

        .kontakte-nav__innhold {
            .kontakte-nav__knapp {
                .knapp {
                    white-space: normal;
                }
            }

            .kontakt-kontor .knapp--hoved {
                text-transform: uppercase;
            }
        }
    }
}

.modal__kontakt-nav {
    overflow: hidden;

    .sitat {
        margin: 0 -1rem 20px;
        padding: 1rem;
        background-color: @navLysGra;
    }

    .subtekst {
        border-top: 1px solid @navGra40;
        margin-top: 1rem;
        padding-top: 1rem;
    }
}

@media (min-width: @screen-sm-min) {
    .kontakte-nav-container {
        margin: 2rem 0;
        height: 100%;
        position: relative;
        padding: 5.5rem 0;

        .kontakte-nav {
            display: flex;
            justify-content: space-between;

            &.panel {
                padding: 2.5rem 6rem;
            }

            .kontakte-nav__bilde {
                order: 2;
                width: calc(30% - 1rem);

                img {
                    width: 164px;
                    height: 164px;
                    padding-bottom: 0;
                }
            }

            .kontakte-nav__innhold {
                order: 1;
                width: calc(70% - 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;

                .kontakte-nav__knapp {
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .modal__kontakt-nav {
        .modal {
            width: 23rem;
        }
    }
}
