@import '../../node_modules/nav-frontend-core/less/_variabler';

.kontakte-nav {
    background-color: @white;
    padding: 2rem;
    margin-top: 2rem;
    .typo-normal {
        padding-bottom: 1.5rem;
    }
}
