.tiltak-oversikt {
  display: flex;

  .tiltak {
    background-color: #ffffff;
    border-radius: .5rem;
    width: 50%
  }

  .tiltak-header {
    height: 10rem;
    border-radius: .5rem .5rem 0 0;
    text-align: center;
  }

  .style1 {
    background-color: #cce1f3;
    border-bottom: .5rem solid #99c2e8;
  }

  .style2 {
    background-color: #cde7d8;
    border-bottom: .5rem solid #9db7a8;
  }

  .tiltak-innhold {
    padding: 2rem;
  }

  .tiltak-ikon {
    height: 7rem;
    position: relative;
    bottom: -2.5rem;
  }

  .tiltak:not(:last-child) {
    margin-right: 2rem;
  }

}
