@import '../../node_modules/nav-frontend-core/less/_variabler';

.tiltak-oversikt {
    display: flex;
    flex-direction: column;

    .tiltak-overskrift {
        margin: 0 auto 2rem;
    }
    .tiltak-liste {
        display: flex;
        flex-direction: column;
    }

    .tiltak {
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
    }

    .tiltak-header {
        padding: 1.5rem 1.5rem 0;
        position: relative;
        background-color: #cce1f3;
        border-bottom: 0.2rem solid #99c2e8;
        border-radius: .5rem .5rem 0 0;
    }

    .tiltak-header-tekst {
        margin-bottom: 8rem;
    }

    .tiltak-innhold {
        background-color: @white;
        padding: 1.5rem 1.5rem 2rem;
        flex-grow: 2;
    }

    .tiltak-ikon {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 114px;
        width: 271px;
    }

    .tiltak:not(:first-child) {
        margin-top: 2rem;
    }

    .lenkepanel {
        margin-bottom: 0;
        padding: 1rem 1.4rem;
    }
}

@media (min-width: @screen-sm-min) {
    .tiltak-oversikt {
        flex-direction: column;

        .tiltak-liste {
            flex-direction: row;
            justify-content: space-between;
        }

        .tiltak {
            width: 47%;
        }

        .tiltak-ikon {
            height: 127px;
            width: 300px;
        }

        .tiltak-header-tekst {
            margin-bottom: 10rem;
        }

        .tiltak:not(:first-child) {
            margin-top: 0;
        }
    }
}
