@import '../../node_modules/nav-frontend-core/less/_variabler';
@import '../farger';

.tiltak-oversikt {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;

    .tiltak-overskrift {
        margin: 0 auto 2rem;
    }
    .tiltak-liste {
        display: flex;
        flex-direction: column;
    }

    .tiltak {
        display: flex;
        flex-direction: column;
    }

    .tiltak-header {
        padding: 1.5rem 1.5rem 0;
        position: relative;
        background-color: @foBlaBackground;
        border-bottom: 0.2rem solid @foBlaBorder;
        border-radius: .5rem .5rem 0 0;
    }

    .tiltak-header-tekst {
        margin-bottom: 8rem;
        height: 2em;
    }

    .tiltak-innhold {
        background-color: @white;
        padding: 1.5rem;
        border: 0.09rem solid @navGra40;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .typo-ingress {
            margin-bottom: 24px;
        }
    }

    .tiltak-ikon {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 271px;
    }

    .tiltak:not(:first-child) {
        margin-top: 1.5rem;
    }


}

@media (min-width: @screen-sm-min) {
    .tiltak-oversikt {
        flex-direction: column;
        margin-bottom: 104px;

        .tiltak-liste {
            flex-direction: row;
            justify-content: space-between;
        }

        .tiltak {
            width: 47%;
        }

        .tiltak-header {
            padding: 2rem 2rem 0;
        }

        .tiltak-ikon {
            width: 280px;
        }

        .tiltak-header-tekst {
            margin-bottom: 10rem;
        }

        .tiltak:not(:first-child) {
            margin-top: 0rem;
        }

        .tiltak-innhold {
            padding: 2rem;
            min-height: 17.5rem;
        }
    }
}
