@import '../../node_modules/nav-frontend-core/less/_variabler';

.tittel.blokk-m {
    text-align: center;
}

@media (min-width: @screen-sm-min) {
    .tittel.blokk-m {
        width: 600px;
        margin: 0 auto 2rem;
        padding: 0 2.5rem;
    }
}