@import '../node_modules/nav-frontend-core/less/_variabler';

@desktopLimitWidth: 960px;

html,
body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

html,
body,
#app-root {
    height: 100%;
    background-color: @navLysGra;

    .spinner {
        display: block;
        margin: 0 auto;
    }
}

.app-content {
    position: relative;
    margin: 0 auto;
    padding: 2rem 1rem 12rem;
}


@media (min-width: @screen-md) {
    .app-content {
        width: @desktopLimitWidth;
        margin: 0 auto;
        padding: 2rem 0 12rem;
    }
}
