@import '../node_modules/nav-frontend-core/less/_variabler';

@desktopLimitWidth: 740px;

html,
body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

html,
body,
#root {
    height: 100%;
    background-color: @navLysGra;
}

.maincontent {
    position: relative;
    margin: 0 auto;
    padding: 2rem .5rem 4rem;
}

@media (min-width: @screen-sm-min) {
    .maincontent {
        width: @desktopLimitWidth;
        padding: 2rem 0 4rem;
    }
}
